:where(.css-dev-only-do-not-override-12jzuas).ant-btn.ant-btn-icon-only .anticon {
    font-size: 25px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-layout .ant-layout-header,
:where(.css-dev-only-do-not-override-12jzuas).ant-layout.ant-layout-footer {
    flex: 0 0 auto;
    box-shadow: 0 2px 20px #ccc;
    border-radius: 10px;
    margin: 24px 16px;
}

.demo-logo-vertical {
    margin-bottom: 60px;
}

.anticon anticon-user ant-menu-item-icon {
    width: 20px;
    height: 20px;
}


:where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-item .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-submenu-title .ant-menu-item-icon,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-item .anticon,
:where(.css-dev-only-do-not-override-12jzuas).ant-menu .ant-menu-submenu-title .anticon {
    min-width: 30px;
    font-size: 25px;
}

.ant-menu {
    padding: ;
}

.ant-menu-item {
    padding: 25px;

}